.activities__section {
    margin-top: 55px;
    margin-bottom: 55px;
}
.activities__card__title {
    font-size: 18px;
    margin-left: 20px;
}
.activities__card {
    display: flex;
    flex-direction: column;
    border-radius: 35px;
    box-shadow: 1px 4px 19px -9px rgba(186, 184, 184, 0.86);
    margin-bottom: 20px;
    width: auto;
}

.activities__img {
    border-radius: 35px 35px 0 0;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 769px) {
    .activities__card__wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 35px;
    }
    .activities__large__img{
        height: 100%;
        width: 100%
    }
    .activities__cards__column{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 35px;
        margin-right: 35px;
    }
    #activities__img__two{
        width: 100%;
        height: 250px;
    }
    #activities__img__three{
        width: 100%;
    }
    .last__column_img{
        width: 100%;
    }
}

