.search__container {
    margin-right: 25px;
    margin-left: 25px;
}
.filter__container {
    margin-right: 25px;
    margin-left: 25px;
}
.known__container {
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 35px;
}
.lodging__container{
    margin-right: 25px;
    margin-left: 25px;
}
.activities__container{
    margin-right: 25px;
    margin-left: 25px;
}
.footer__container{
    margin: 25px 25px 0;
    padding-top: 35px;
}
