@media (max-width: 736px) {

    footer {
        background-color: #F2F2F2;
    }

    .footer__title {
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 40px;
    }

    .footer__links {
        font-size: 17px;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .footer__links:last-child {
        margin: 0;
        padding-bottom: 45px;
    }
}
