@media (max-width: 736px) {

    .logo__sub--placement {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 20px 30px 20px;
    }

    .reservia__img{
        width: 125px;
        height: auto;
    }

    .first__nav__element--placement{
        font-weight: bold;
        color: #0065FC;
    }

    .nav__links--placement {
        display: flex;

        padding-bottom: 10px;
    }

    .nav__links{
        text-align: center;
        border-bottom: solid 3px #F2F2F2;
        padding-bottom: 10px;
        flex: 1
    }

    .nav__links:hover {
        transition: 0.2s;
        color: #0065FC;
        border-bottom: solid 3px #0065FC;

    }



}


