@media (min-width: 750px) {

    .reservia__img {
        width: 125px;
        height: auto;
        margin: 5px 20px 0 0;
    }

    .nav__links{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }
    .nav__links--active{
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: solid 3px #ffffff;
        padding-right: 45px;
        padding-left: 45px;
        height: 150px;

    }

    .nav__links--active:hover {
        transition: 0.2s;
        color: #0065FC;
        border-top: solid 3px #0065FC;

    }

    .nav__links__sub__button{
        display: flex;
        align-items: center;
        padding-left: 25px;
        height: 150px;
        font-weight: bold;
        color: #0065FC;
    }
}

@media (max-width: 736px) {

    .reservia__img {
        width: 125px;
        height: auto;
        margin: 5px 20px 30px 20px;
    }

    .nav__links__sub__button{
        position: absolute;
        bottom: 689px;
        right: 32px;
        font-weight: bold;
        color: #0065FC
    }


    .nav__links{
        display: flex;
        padding-bottom: 10px;
    }

    .nav__links--active{
        text-align: center;
        border-bottom: solid 3px #F2F2F2;
        padding-bottom: 10px;
        flex: 1
    }

    .nav__links--active:hover {
        transition: 0.2s;
        color: #0065FC;
        border-bottom: solid 3px #0065FC;
    }
}


