.known__section {
    background-color: #F2F2F2;
}

.known__container {
    margin-right: 25px;
    margin-left: 25px;
    padding-bottom: 35px;
}

.known__title__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 25px;
}

.chart__icon {
    font-size: 25px;
}

.known__title {
    font-size: 25px;
}

.location__card {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
    box-shadow: 1px 4px 19px -9px rgba(186,184,184,0.86);;
}

.card__content {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.card__infos {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.card__title {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.card__description {
    font-size: 15px;
    font-weight: normal;
   margin: 0;
}

.filled_star {
    font-size: 12px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: #0065FC;
}
.unfilled_star{
    font-size: 12px;
    margin-top: 35px;
    margin-bottom: 10px;
    color: #F2F2F2;
}

.stars__position{
    display: flex;
    flex-direction: row;
}

.first__card__img {
    height: 150px;
    width: 140px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.third__card__img{
    height: 150px;
    width: 140px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}


